
 .comment-container{

 }
/* .comment-box{
    top:50%;
    left:50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 500px;
} */
 
 .comment-form input{
      width:50%;
      height:50px;
      /* padding: 50px 20px; */
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #868686
}

.comment-form input:focus{
    border: 1px solid #0000;
    outline: 0;
}

 .comment-form button{
    border:0;
    background: blue;
    border-radius: 5px;
    color: #fff;


}

.comments-list {
    list-style-type: none;
}

.comment-username {
    list-style-type: none;
}

.single-comment{
    list-style-type: none;
}























