.all-videos{
    /* display: flex; */
    /* order: 4; */
    /* flex-wrap: wrap; */
    /* flex-shrink: 1; */
    /* align-content: center; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:10px 10px 15px 15px;
    grid-gap:5px;
    scroll-behavior: smooth;
    background-color: #fafafa;
}

